.matches-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0, 0, 0.15);
}
.matches-table th tr {
    background-color: #2793be;
    color: #ffffff;
    text-align: left;
}
.matches-table th,
.matches-table td {
    padding: 12px 15px;
}
.matches-table tr {
    border-bottom: 1px solid #dddddd;
}

.matches-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.matches-table tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.matches-table tr.active-row {
    font-weight: bold;
    color: #009879;
}
