.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #8b9fb8;;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.search-box-button {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
        border-radius: 5px;
        
    }
    
    input[type="text"]::-webkit-input-placeholder { /* Safari, Chrome(, Opera?) */
        color:gray;
        font-style:italic;
        font-family: 'Roboto Mono', monospace;
       }
       input[type="text"]:-moz-placeholder { /* Firefox 18- */
        color:gray;
        font-style:italic;
        font-family: 'Roboto Mono', monospace;
       }
       input[type="text"]::-moz-placeholder { /* Firefox 19+ */
        color:gray;
        font-style:italic;
        font-family: 'Roboto Mono', monospace;
       }
       input[type="text"]:-ms-input-placeholder { /* IE (10+?) */
        color:gray;
        font-style:italic;
        font-family: 'Roboto Mono', monospace;
       }
       