.search-bar-title {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
  align-items: center;
  }
  
  /* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  
  input[type="text"] {
    width: 100vw;
    height: 3rem;
    background-color: white;
      background-image: url('../static/images/icons8-search-30.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding-left: 40px;
    border: 1px solid black;
        border-radius: 5px;
        
    }}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .search-bar-title{
    
    visibility: visible;
  }
  .container {
    /*display: flex;*/
    /*height: 80vh;*/
    background-color: #F4F5F4;
    /* padding-bottom: 8.5rem;  */
    
  }
  input[type="text"] {
    width: 45%;
    height: 3rem;
    background-color: white;
      background-image: url('../static/images/icons8-search-30.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding-left: 40px;
    border: 1px solid black;
        border-radius: 5px;
        
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  

}